.texts_container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .logo_button_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;

        margin-bottom: 10.97vh;

        @media (max-width: 768px) {
            margin-bottom: 4vh;
            grid-template-columns: 1fr;
        }
        
        .button {
            @media (max-width: 768px) {
                display: none;
            }
        }

        .logo_container_texts {
            margin-top: 32px;
            img {
                width: 100%;
            }

            @media (min-width: 768px) {
                display: none;
            }
        }

        .custom-class {
            font-size: 27px;
            font-weight: 600;
            letter-spacing: 1%;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            text-transform: uppercase;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;

            width: 11.17vw;
            height: 6.67vh;



            @media (max-width: 768px) {
                width: 30vw;
                height: 6.67vh;
            }
        }
    }

    .texts_content {
        display: grid;
        grid-template-columns: 1fr 1fr;

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }


        .texts {
            width: 100%;
            display: flex;
            flex-direction: column;


            .title {
                color: black;

                margin-bottom: 2.22vh;

                font-size: 60px;
                line-height: 82px;
                font-weight: 500;
                letter-spacing: -1.5%;

                text-align: left;


                @media (max-width: 768px) {
                    font-size: 32px;
                    line-height: 40px;
                }
            }

            .description {
                text-align: left;
                color: #6d6d6d;
                font-size: 24px;

                @media (max-width: 768px) {
                    font-size: 20px;
                }
            }
        }


        .button {
            width: 160px;
            height: 48px;

            margin-top: 32px;
            font-size: 20px;

            @media (min-width: 768px) {
                display: none;
            }
        }




        .logo_container {
            @media (max-width: 768px) {
                display: none;
            }
        }
    }


}