.translation-selector {
  position: relative;
  display: flex;
  font-family: Arial, sans-serif;

    justify-self: end;
    align-self: end;

    @media (max-width: 768px) {
        justify-self: unset;
        align-self: unset;
    }

  select {
    appearance: none;
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 10px 40px 10px 20px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    outline: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;

    &:hover {
      border-color: rgb(109, 204, 101);
      box-shadow: 0 6px 15px rgba(109, 204, 101, 0.3);
    }

    &:focus {
      border-color: rgb(109, 204, 101);
    }
  }
}
