button {
    font-size: 27px;
    font-weight: 600;
    background-color: #6dcc65;
    color: #121316;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    width: 11.17vw;
    height: 6.67vh;

    transition: all 0.3s ease;

    &:hover {
        background-color: rgb(109, 204, 101, 0.8);
    }

    &:active {
        background-color: rgb(109, 204, 101, 0.6);
    }
}