.footer {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    padding-bottom: 48px;


    .footer-content {
        display: grid;
        grid-template-columns: 1fr 1fr;

        margin-right: 7.81vw;

        @media screen and (max-width: 768px) {
            grid-template-columns: 1fr;
            gap: 2.5rem;
        }


        .footer-section {
            display: flex;
            gap: 12px;

            flex-direction: column;

        }

        .about {
            text-align: left;

            h2 {
                font-size: 1.5rem;
                font-weight: 700;
                color: #000000;
            }

            p {
                font-size: 1rem;
                font-weight: 400;
                color: #000000;
            }

        }

        .contact {
            text-align: right;

            @media screen and (max-width: 768px) {
                text-align: left;
            }
        }
    }


    .footer-bottom {
        text-align: center;
    }
}