.landing_container {
    height: 100vh;
    
    padding-top: 10vh;
    padding-left: 7.81vw;
    padding-right: 7.81vw;

    position: relative;

    display: flex;
    flex-direction: column;

    @media (max-width: 768px) {
        padding-top: 5vh;
        padding-inline: 5vw;
        gap: 10vh;
    }
}